<div class="dashboard-container">
    <mat-card class="dashboard-card">
      <mat-card-title>
        <mat-icon>group</mat-icon> Total Number of Groups
      </mat-card-title>
      <mat-card-content>
        <h2>{{ totalGroups }}</h2>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="dashboard-card">
      <mat-card-title>
        <mat-icon>business</mat-icon> Total Number of Companies
      </mat-card-title>
      <mat-card-content>
        <h2>{{ totalCompanies }}</h2>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-title>
          <mat-icon>business</mat-icon> Total Number of Locations
        </mat-card-title>
        <mat-card-content>
          <h2>{{ totalLocations }}</h2>
        </mat-card-content>
      </mat-card>
  
    <mat-card class="dashboard-card">
      <mat-card-title>
        <mat-icon>account_tree</mat-icon> Total Number of Branches
      </mat-card-title>
      <mat-card-content>
        <h2>{{ totalBranches }}</h2>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-title>
          <mat-icon>account_tree</mat-icon> Total Number of Divisions
        </mat-card-title>
        <mat-card-content>
          <h2>{{ totalDivisions }}</h2>
        </mat-card-content>
      </mat-card>
  
    <mat-card class="dashboard-card">
      <mat-card-title>
        <mat-icon>people</mat-icon> Total Number of Users
      </mat-card-title>
      <mat-card-content>
        <h2>{{ totalUsers }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  